.SectionSvg--Box {
	position: absolute;
	height: 100%;
	width: 100%;
	// background-color: #fff;
}

.svg1 {
	position: absolute;
	right: 0;
	top: -10em;
	z-index: -1;
}

.svg2 {
	position: absolute;
	bottom: 5em;
	right: 15em;
}

.svg3 {
	position: absolute;
	bottom: 8em;
	left: 3em;
}

.svg4 {
	position: absolute;
	top: 40em;
	left: -10em;
}

.svg5 {
	position: absolute;
	z-index: -1;
}

.svg6 {
	position: absolute;
	bottom: 70em;
	left: 25em;
}

.svg8 {
	position: absolute;
	bottom: 10em;
	right: 0em;
}

.svg9 {
	position: absolute;
	right: -15em;
	top: 20em;
}

@media (min-width: 768px) {
	.SectionSvg--Box {
		position: absolute;
		height: 100%;
		width: 100%;
		// background-color: #fff;
	}

	.svg1 {
		position: absolute;
		right: 0;
		top: -10em;
		z-index: -1;
	}

	.svg2 {
		position: absolute;
		bottom: 5em;
		right: 45em;
	}

	.svg3 {
		position: absolute;
		bottom: 8em;
		left: 35em;
	}

	.svg4 {
		position: absolute;
		top: 30em;
		left: -10em;
	}

	.svg6 {
		position: absolute;
		bottom: 10em;
		left: -15em;
	}

	.svg8 {
		position: absolute;
		bottom: 15em;
		right: -32.5em;
	}

	.svg9 {
		position: absolute;
		right: -15em;
		top: 20em;
	}
}
