.footer {
	background-color: rgb(27, 27, 27);
	padding: 5em 3em;
}

.footerBox {
	text-align: center;
	margin: 0 auto;
}

.leftColumn-description {
	font-size: 1rem;
	margin: 2em 0;
}

.mediaLink {
	margin-right: 2em;
}

a {
	text-decoration: none;
	color: #fff;
}

.rightColumns {
	margin-top: 3em;
	width: 100%;
}

.column {
	&-title {
		font-size: 1.5rem;
		font-weight: bold;
	}

	&-ul {
		font-size: 1rem;
		margin-top: 2em;

		li {
			list-style: none;
			margin: 1.3em 0;
		}
	}
}

@media (min-width: 768px) {
	.footer {
		padding: 10em 10em;
	}

	.footerBox {
		text-align: left;
		display: flex;
		justify-content: space-between;
		width: 66%;
	}

	.leftColumn-description {
		width: 70%;
	}

	a {
		text-decoration: none;
		color: #fff;
		margin-right: 2em;
	}

	.rightColumns {
		margin-top: 0;
		display: flex;
		justify-content: space-between;
	}

	.column {
		&-title {
			font-size: 1.5rem;
			font-weight: bold;
		}

		&-ul {
			font-size: 1rem;
			margin-top: 2em;

			li {
				list-style: none;
				margin: 1.3em 0;
			}
		}
	}
}
