.firstSection {
	position: relative;
	&-title {
		text-align: center;
	}

	&-description {
		text-align: center;
		margin: 1.5em auto;
		font-size: 1.5rem;
		padding: 0 8em;
	}
}

.firstSection-Box {
	text-align: center;
	margin-top: 7em;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15em;
}

.firstSection-Box--title {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1.5em 0;
}

.firstSection-Box--img {
	margin: 0 auto;
	border-radius: 50%;
}

.firstSection-Box--text {
	font-size: 1rem;
	text-align: center;
	padding: 0 3em;
}
