.firstSection {
	position: relative;
	padding: 3em;
	&-title {
		margin-top: 1em;
		text-align: center;
	}

	&-description {
		text-align: center;
		margin: 1.5em auto;
		font-size: 1.5rem;
	}
}

.firstSection-Box {
	text-align: center;
	margin-top: 7em;
	margin-bottom: 15em;

	&--element {
		margin: 10em 0;
	}
}

.firstSection-Box--title {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1.5em 0;
}

.firstSection-Box--img {
	margin: 0 auto;
	border-radius: 50%;
}

.firstSection-Box--text {
	line-height: 1.7em;
	font-size: 1rem;
	text-align: center;
	padding: 0 3em;
}

@media (min-width: 768px) {
	.firstSection {
		padding: 0;
		&-title {
			font-size: 4rem;
			margin-top: 0;
		}

		&-description {
			padding: 0 8em;
		}

		&--element {
			margin: 0;
		}
	}

	.firstSection-Box {
		display: flex;
		justify-content: space-between;
		margin-top: 0;
	}
}
