.secondSection {
	position: relative;
	background-image: url("/secondSectionBg.png");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	padding: 3em;
}

.secondSection::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 0;
}

.secondSection-description {
	position: relative;
	text-align: center;
	margin: 4em 0;
	font-size: 1.5rem;
	line-height: 1.3;
	z-index: 1;
}

.secondSection-title {
	position: relative;
	text-align: center;
	font-size: 3rem;
	z-index: 1;
}

.secondSection-button {
	position: relative;
	z-index: 1;
	width: 100%;
}

@media (min-width: 768px) {
	.secondSection {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	.secondSection::after {
		display: none;
	}

	.secondSection-rightBox {
		grid-column: 2/3;
		margin-left: 7rem;
	}

	.secondSection-description {
		text-align: left;
		width: 70%;
	}

	.secondSection-title {
		text-align: left;
		font-size: 5rem;
	}

	.secondSection-button {
		width: 40%;
	}
}
